<%- include('../_layouts/header.ejs') %>

<body>
  <div>
    <h1> <%= response %>  </h1>
  </div>
</body>

<%- include('../_layouts/footer.ejs') %>

<!--form action="payement" method="post">
      <button type="submit">Payer maintenant</button>
    </form-->