<%- include('../_layouts/header.ejs') %>

<body class="sb-nav-fixed">

  <%- include('../_layouts/navbar.ejs') %>
  <main>
   <div class="container-fluid">
     <h2> <%= response.message %> </h2>
     <span> <a href="/getransaction"> Retournez au site </a> </span> 
   </div>

  </main>

  <div id="layoutAuthentication_footer">

<%- include('../_layouts/footer.ejs') %>