<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="EMERGENCE">
    <meta name="generator" content="">
    <title>VIGNETTE-APP</title>

    <!--base href="/"-->

    <!-- Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- swiper CSS -->
    <link href="/vendor/swiper/css/swiper.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" id="style">
    
    <link href="/css/my-style.css" rel="stylesheet" id="mystyle">

    <link href="/parsley/parsley.css" rel="stylesheet">

    <script src="/parsley/parsley.js" defer></script>
    <script src="/parsley/langue/fr.js" defer></script>

    <script type="text/javascript" defer>
        window.Parsley.setLocale('fr');
    </script>

    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePublicKey = "pk_test_51IlzGlJsvsf81CSo37sbixThf3GkryFfABqghuzEch9CiVv3TrnsHIZ7IYY5NhlQCq6L4t1QDDSW4WL8E7OZOIMU00XVsPWj0o";
    </script>

</head>