<header class="header">

  <div class="row">

    <div class="col-auto px-0">

      <button class="menu-btn btn btn-40 btn-link" type="button">
        <span class="material-icons">menu</span>
      </button>

    </div>

    <div class="text-left col align-self-center">
      <a class="navbar-brand" href="/home">
        <h5 class="mb-0">DGRK</h5>
      </a>
    </div>


    <div class="ml-auto col-auto pl-0">

      <!--button type="button" class="btn btn-link btn-40 colorsettings">
        <span class="material-icons">color_lens</span>
      </button-->


      <!--a href="#" class="menu-btn btn btn-40 btn-link" >
        <span class="material-icons">notifications_none</span>
        <span class="counter"></span>
      </a-->

      <a href="/user/profile" class="avatar avatar-30 shadow-sm rounded-circle ml-2">
        <figure class="m-0 background">
          <!--img src="img/user1.png" alt=""-->
          <% if(user.avatar == "") { %>
            <img id="noimage" src="/img/image_no2.png">
          <% } else { %>
            <img id="noimage" src="/user_avatar/<%= user._id %>/<%= user.avatar %>">
          <% } %>
        </figure>
      </a>
    </div>

  </div>

</header>
