
<div class="ml-auto col-auto">

  <a href="/user/profile" class="avatar avatar-30 shadow-sm rounded-circle ml-2">

    <figure class="m-0 background">
      <!--img src="/img/user1.png" alt=""-->
      <% if(user.avatar == "") { %>
        <img id="noimage" src="/img/no_image1.png">
      <% } else { %>
        <img id="noimage" src="/user_avatar/<%= user._id %>/<%= user.avatar %>">
      <% } %>

    </figure>
        
  </a>


</div>
