<body class="body-scroll d-flex flex-column h-100 menu-overlay" data-page="homepage">
    <!-- screen loader -->
    <div class="container-fluid h-100 loader-display">
        <div class="row h-100">
            <div class="align-self-center col">
                <div class="logo-loading">
                    <div class="icon icon-80 mb-4 rounded-circle">
                        <img src="/img/dgrk_logo.jpg" alt="" class="w-100">
                    </div>
                    <h4 class="text-default">VIGNETTE APP</h4>
                    <p class="text-secondary">DGRK</p>
                    <div class="loader-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       


