
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            
                            <a class="nav-link" href="../home">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Liste des Véhicules
                            </a>

                            <a class="nav-link" href="paiement/getransaction">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Transactions
                            </a>
                        </div>
                    </div>
                    
                </nav>
            </div>

            <!--div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                Administration
            </a-->