
<!-- menu main -->
    <div class="main-menu">
        <div class="row mb-4 no-gutters">
            <div class="col-auto"><button class="btn btn-link btn-40 btn-close text-white"><span class="material-icons">chevron_left</span></button></div>
            <%- include('./headside2.ejs') %>
        </div>
        <div class="menu-container">

            <ul class="nav nav-pills flex-column ">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">
                        <div>
                            <span class="material-icons icon">account_balance</span>
                            Accueil
                        </div>
                        <span class="arrow material-icons">chevron_right</span>
                    </a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link" href="auth/analytics">
                        <div>
                            <span class="material-icons icon">insert_chart</span>
                            Analytics
                        </div>
                        <span class="arrow material-icons">chevron_right</span>
                    </a>
                </li-->

                <li class="nav-item">
                    <a class="nav-link" href="/paiement/getransaction">
                        <div>
                            <span class="material-icons icon">account_balance_wallet</span>
                            Transactions
                        </div>
                        <span class="arrow material-icons">chevron_right</span>
                    </a>
                </li>
                
                <!--li class="nav-item">
                    <a class="nav-link" href="setting.html">
                        <div>
                            <span class="material-icons icon">settings</span>
                            Settings
                        </div>
                        <span class="arrow material-icons">chevron_right</span>
                    </a>
                </li-->
                
            </ul>
            <div class="text-center">
                <a href="/user/logout" class="btn btn-outline-danger text-white rounded my-3 mx-auto">Deconnexion</a>
            </div>
        </div>
    </div>
    <div class="backdrop"></div>