<%- include('_layouts/header.ejs') %>
  <body class="sb-nav-fixed">
    <%- include('_layouts/navbar.ejs') %>
    <div id="layoutSidenav">
      <%- include('_layouts/sidebar.ejs') %>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">

            <h1 class="mt-4">Tableau de bord</h1>

            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active col-10">Liste des Véhicules</li>
              <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#staticBackdrop">
                Ajouter
              </button>
            </ol>
                          
            <div class="row">
              <% result.forEach(function(vehicule) { %>
                <div class="col-xl-4">
                          
                  <div class="card mb-4">
                            
                    <div class="card-header">
                      <i class="fas fa-car"></i>
                      <%= vehicule.marque %>
                    </div>

                    <div class="card-body">

                      <ol class="list-group list-group-numbered">

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Modèle</div>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"><%= vehicule.modele %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Type</div>         
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"><%= vehicule.type %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Puissance</div>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"><%= vehicule.puissance %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Couleur</div>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"><%= vehicule.couleur %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Année de fabrication</div>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"><%= new Date(vehicule.annee_fabrication).getFullYear() %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">N° Chassis</div>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"><%= vehicule.num_chassis %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Montant à payer</div>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"><%= vehicule.prix %>$</span>
                        </li>

                      </ol>

                    </div>

                    <div class="card-footer">

                      <form class="form-horizontal" role="form" id="paypalForm" method="post" action="paiement/paynow">
                        <input type="hidden" value="<%= vehicule._id %>" name="_id"/>
                        <input type="hidden" value="<%= vehicule.num_plaque %>" name="num_plaque"/>
                        <input type="hidden" value="<%= vehicule.prix %>" name="prix"/>
                        <i class="icon-money"></i>
                        <button type="submit" class="btn btn-primary pr-3">Payer</button>
                      </form>
                                      
                    </div>
                            
                  </div>
                                
                </div>
              <% }); %> 
            </div>

          </div>

                      
   
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="staticBackdropLabel">Ajouter un véhicule</h5>
          <!-- <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button> -->
          <button type="button" className="close btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>

        </div>

        <div class="modal-body">

          <form method="POST" action="/vehicule/addvehicule">

            <div class="form-row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">Marque</label>
                  <input class="form-control py-4" id="inputFirstName" name="marque" type="text" placeholder="Ex. Range Rover" />
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">Modèle</label>
                  <input class="form-control py-4" name="modele" id="inputFirstName" type="text" placeholder="Ex. Evoque" />
                </div>

              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">N° chassis</label>
                  <input class="form-control py-4" id="inputFirstName" name="num_chassis" type="text" placeholder="Ex. 127" />
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">Puissance (CV)</label>
                  <input class="form-control py-4" id="inputFirstName" name="puissance" type="text" placeholder="Ex. 10" />
                </div>

              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">Couleur</label>
                  <input class="form-control py-4" id="inputFirstName" name="couleur" type="text" placeholder="Ex. Noir" />
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">Plaque</label>
                  <input class="form-control py-4" id="inputFirstName" name="num_plaque" type="text" placeholder="Ex. RC1232" />
                </div>

              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">Type</label>
                  <input class="form-control py-4" name="type" id="inputFirstName" type="text" placeholder="Ex. Diesel" />
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="small mb-1" for="inputFirstName">Année</label>
                  <input class="form-control py-4" name="annee_fabrication" id="inputFirstName" type="text" placeholder="Ex. 2007" />
                </div>

              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button class="btn btn-primary">Enregistrer</button>
            </div>

          </form>

        </div>

      </div>

    </div>
  
  </div>


</main>

<%- include('_layouts/footer.ejs') %>


<!--p class="text-secondary small"><%= vehicule.type %></p>
<p class="text-secondary small"><%= vehicule.puissance %></p>
<p class="text-secondary small"><%= vehicule.couleur %></p-->




<!--DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>404 Error - SB Admin</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <img class="mb-4 img-error" src="assets/img/error-404-monochrome.svg" />
                                    <p class="lead">This requested URL was not found on this server.</p>
                                    <a href="index.html">
                                        <i class="fas fa-arrow-left mr-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutError_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html-->

<!--a class="dropdown-item" href="#">Parametres</a>
                        <a class="dropdown-item" href="#">Profil</a>
                        <div class="dropdown-divider"></div-->