<div class="container h-100 text-white">
  <div class="row h-100">
      <div class="col-12 align-self-center mb-4">
          <div class="row justify-content-center">
              <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                  <h2 class="font-weight-normal mb-5">Login</h2>
                  <form method="POST" action="/user/login">
                      <div class="form-group float-label active">
                          <input type="text" name="email" id="email" class="form-control text-white">
                          <label for="email" class="form-control-label text-white">Email</label>
                      </div>
                      <div class="form-group float-label position-relative">
                          <input type="password" id="pwd" name="password" class="form-control text-white ">
                          <label for="pwd" class="form-control-label text-white">Password</label>
                      </div>
                      <div class="form-group mt-4 mb-0"><button  class="btn btn-default rounded btn-block" >Se connecter</button></div>
                  </form>     
                  <!--p class="text-right"><a href="forgot_password.html" class="text-white">Forgot Password?</a></p-->
              </div>
          </div>
      </div>
      
  </div>
</div>