 <!-- Begin page content -->
 <main class="flex-shrink-0 main has-footer">
  <!-- Fixed navbar -->
  <header class="header">
      <div class="row">
          <div class="col-auto px-0">
              <button class="menu-btn btn btn-40 btn-link back-btn" type="button">
                  <span class="material-icons">keyboard_arrow_left</span>
              </button>
          </div>
          <div class="text-left col align-self-center">

          </div>
          <div class="ml-auto col-auto align-self-center">
              <a href="login" class="text-white">
                  login
              </a>
          </div>
      </div>
  </header>


  <div class="container h-100 text-white">
      <div class="row h-100">
          <div class="col-12 align-self-center mb-4">
              <div class="row justify-content-center">
                  <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                      <form method="POST" action="/user/register" enctype="multipart/form-data">
                          <h2 class="font-weight-normal mb-5">Créer un nouveau<br>compte avec nous</h2>

                          <div class="form-group float-label active">
                              <input class="form-control text-white" name="nom" id="noms" type="text">
                              <label for="noms" class="form-control-label text-white">Nom</label>
                          </div>

                          <div class="form-group float-label active">
                              <input class="form-control text-white" name="postnom" id="post" type="text">
                              <label for="post" class="form-control-label text-white">Postnom</label>
                          </div>

                          <div class="form-group float-label active">
                              <input class="form-control text-white" name="prenom" id="pre" type="text" >
                              <label for="pre" class="form-control-label text-white">Prénom</label>
                          </div>

                          <div class="form-group float-label active">
                              <input class="form-control text-white" name="avatar" id="vatar" type="file" >
                              <label for="vatar" class="form-control-label text-white">Avatar</label>
                          </div>

                          <div class="form-group float-label active">
                              <input class="form-control text-white" name="email" id="mail" type="text">
                              <label for="mail" class="form-control-label text-white">Email</label>
                          </div>

                          <div class="form-group float-label active">
                              <input class="form-control text-white" name="telephone" id="tel" type="number" >
                              <label for="tel" class="form-control-label text-white">N° Téléphone</label>
                          </div>

                          <div class="form-group float-label position-relative">
                              <input class="form-control text-white" name="password" id="pwd" type="password" >
                              <label for="pwd" class="form-control-label text-white">Password</label>
                          </div>

                          <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                              <button  class="btn btn-default rounded btn-block">S'inscrire</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</main>